vscode
.idea
.git
logs
*.log
clitools/nssm
**/*.json
**/*.config
**/*.md
**/*.html
**/*.hbs
**/*.css
**/*.ps1
**/*.sh
**/*.csv
**/*.txt
**/*.php
**/*.conf
**/*.sql
**/*.svg
**/*.png
node_modules/
ecosystem.config.js
**/*.js